nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 62.5rem;
  margin: auto;
}

.filter-console {
  background: #fff;
  border-radius: 1rem;

  display: flex;
  align-items: center;

  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
}

.filter-console > div > input {
  color: #333;
  font-family: "Mulish", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  border: none;
  border-right: 1px solid #f2f2f2;
  padding: 1.25rem 1rem;
}
.filter-console > div:nth-child(2) {
  width: fit-content;
}

.filter-console > button {
  border: none;
  background-color: white;
  color: #eb5757;
  padding: 1.25rem 1rem;
}

main {
  width: 100%;
  max-width: 70rem;
  margin: auto;
}

.search-results {
  color: #333;
  font-family: "Montserrat";
  font-style: normal;
  line-height: normal;

  margin-top: 4rem;
}

.results-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.results-head > h1 {
  font-size: 1.5rem;
}

.results-head > p {
  font-size: 0.875rem;
}

.results {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem 2rem;
}
