nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 70rem;
  margin: auto;
}

@media (max-width: 700px) {
  nav {
    flex-wrap: wrap;
    gap: 3rem;
  }
}
